<!DOCTYPE html>
<html lang="en">

{% include "partials/head.njk" %}

<body>
    {% block pagestyles %}{% endblock %}

    {% include "partials/site_head.njk" %}

    <main class="flow">
    {% block main %}
    
        {% include "partials/hero.njk" %}
        {% block lede %}{% endblock %}
        {% block content %}{% endblock %}
    
    {% endblock main %}
    </main>
    
    
    <footer class="switcher" style="--spot-bg: #464C44">
        {% include "partials/site_foot.njk" %}
    </footer>
    {% block js %}{% endblock %}
</body>

</html>