<!DOCTYPE html>
<html lang="en">

{% include "partials/head.njk" %}

<body>
    <style>
        h1 {
            text-align: center;
        }

        iframe {
            display: block;
            height: 75dvh;
            width: 100%;
            margin: auto;
        }

        @media screen and (prefers-color-scheme: dark) {
            iframe {
                filter: hue-rotate(180deg) invert(0.85)
            }
        }

        ol {
            list-style-type: none;
        }

        li {
            padding-left: var(--pl, 10px);
            border-left: var(--bl, 5px) solid var(--border, var(--bg));
        }

        .whichClass {
            font-size: var(--size--2);
        }

        .past {
            --border: var(--text);
            opacity: 0.75;
        }

        .future {
            --border: var(--accent);
        }

        .present {
            font-weight: bold;
            --border: var(--contrast);
        }

        .present::before {
            content: " (NOW)";
            font-variant: all-small-caps;
        }

        .today {
            --bl: 10px;
        }

        #faq {
            line-height: 1.2;
            --flow-space: var(--space-xl);

            & dt {
                color: var(--accent);
            }

            & dd {
                font-weight: bold;
                font-size: var(--size-3);
                --flow-space: 200px;
            }

            & *::before {
                font-size: var(--size-0);
                font-weight: initial;
                color: var(--accent)
            }
        }

        #copy {
            position: relative;

            &::after {
                position: absolute;
                inset: 0;
                transform: translateY(var(--yOffset, 0));
                background-color: var(--accent);
                display: var(--disp, none);
                opacity: var(--opacity, 0);
                content: "Copied!";
                color: var(--bg);
                padding: inherit;
            }
        }
    </style>
    {% include "partials/site_head.njk" %}
    <main class="flow">
        <header>
            <h1>{{ title | md(true) | safe }}</h1>
        </header>
        <section class="flow">
            <h2 style="color: var(--contrastColor)">Notice</h2>
            <div id="notice">
                <p>
                    Heads up: the calendar URL has changed. If you subscribed sometime in the last year, you should
                    probably unsubscribe to that, and subscribe anew to the calendar included below.
                </p>
            </div>
        </section>
        <section class="flow">
            <h2 id="fullCalendar">Public Devon Pottery Guild Calendar</h2>

            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FEdmonton&showPrint=0&mode=AGENDA&src=ZDQ5MmUzMzYwNGU1ZTFhNzg2YjlhMWZmYjZiOGQ2MDhmNGQwMDkyYWRlZTliYTA3ZTViZjQ2YTY4MDE1NzA0MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342&bgcolor=%23f0e7da"  frameborder="0" scrolling="no"></iframe>
           </section>

        <footer class="switcher">
            {% include "partials/site_foot.njk" %}
        </footer>
    </main>
</body>