{% extends "base.njk" %}

{% block pagestyles %}
<style>
    :root {
        --brightness: 0.5;
        --contrast: 1.2;
        /* --rotate: 300eg; */
        --rotate: 180deg;
        --saturate: 8;
        /* --spot-bg: #ff234a; */
        /* --spot-txt: black; */
    }
</style>
{% endblock %}

{% block content %}
{% include "partials/goodnews.njk" %}

{{ content | md | safe }}

{% endblock %}

{% block js %}
{% endblock %}