{% extends "base.njk" %}

{% block pagestyles %}
<style>
    :root {
        --brightness: 0.6;
        --contrast: 1.5;
        --rotate: 45deg;
        --saturate: 3;
    }
</style>
{% endblock %}

{% block content %}
<section class="flow">
    {{ content | md | safe }}
</section>


<section class="flow">
    {% include "partials/socials.njk" %}
</section>

{% endblock %}