{% extends "base.njk" %}

{% block pagestyles %}
<style>
:root {
    --brightness: 1.1;
    --contrast: 2;
    --rotate: 180deg;
    --saturate: 8;
}
</style>
{% endblock %}

{% block content %}

{% for item in home.sections %}
<article class="flow">
    <h2>{{ item.title }}</h2>
    {{ item.content | md | safe }}
</article>
{% endfor %}

<article class="flow">
    {% include "partials/sponsors.njk" %}
</article>

{% endblock %}