{% extends "base.njk" %}

{% block pagestyles %}
<style>
:root {
    --brightness: 0.8;
    --contrast: 2;
    --rotate: 45deg;
    --saturate: 3;
}
</style>
{% endblock %}

{% block content %}

{% for item in home.sections %}
<article class="flow">
    <h2>{{ item.title }}</h2>
    {{ item.content | md | safe }}
    {% if item.lede is defined %}
        <div class="lede full-width">
            <img src="/statics/curve.svg" class="curve" inline />
            <div>{{ item.lede | md | safe }}</div>
            <img src="/statics/curve.svg" class="curve" inline />
        </div>
    {% endif %}
</article>
{% endfor %}

<article class="flow">
    {% include "partials/sponsors.njk" %}
</article>

{% endblock %}