{% import "macros/link.njk" as link %}
{% macro classCard(class) %}


<article class="card">
    <h2>
        {{- class.title | replace(r/\d{4}\-\d{2}\s?/, "") | replace("()", "") + " " -}}
        {%- if (class.spots_left | int) == 0 -%}<span class="class-full">Full!</span>{%- endif -%}
        {%- if (class.spots_left | int) == -2 -%}<span class="class-inprogress keep-together">Registration
            closed!</span>{%- endif -%}
        {%- if (class.spots_left | int) == -1 -%}<span class="class-cancelled">Cancelled!</span>{%- endif -%}
    </h2>
    <details>
        <summary>class description</summary>
        {{ class.description }}
    </details>

    {% set startTime = [class.start_date, class.start_time] | join(" ") %}
    {% set endTime = [class.end_date, class.end_time] | join(" ") %}


    <dl>
        <div>
            <dt>Details</dt>
            <dd>
                {%- if "/" in class.weekday -%}
                {%- if "Wed" in class.weekday -%}
                {%- set weeknight = "Wed" -%}
                {%- elif "Thu" in class.weekday -%}
                {%- set weeknight = "Thu" -%}
                {%- endif -%}
                <span class="keep-together">{{ weeknight }}, 6pm–9pm &<br>Sat, 9am–12pm</span>
                {%- else -%}
                <span class="keep-together">{{ startTime | date("EEE")}}, {{ startTime | date("haaa")}}–{{ endTime |
                    date("haaa")}}</span>
                {%- endif %}
                <span class="keep-together">w/ {{ class.instructor }}</span>
            </dd>
        </div>
        <div>
            <dt>Dates</dt>
            <dd>{{ startTime | date("MMM d") }}–{{ endTime | date("MMM d") }}</dd>
        </div>
        {%- if class.exceptions -%}
        <div>
            <dt>Except</dt>
            <dd>{{ class.exceptions | date("MMM d") }}</dd>
        </div>
        {%- endif -%}
        <div>
            <dt>Registration details</dt>
            {%- set nonmember = [" / $", class.external_price, "<span class='non-member'>(non-member)</span>"] | join if
            class.external_price else "(members only)" -%}
            <dd>${{ class.guild_price }} {{nonmember | safe }}<br>max. {{ class.max_participants }} participants</dd>
            {%- if class.form_url and (class.spots_left | int) != 0 -%}
            <details>
                <summary>Show Registration Form</summary>
                <iframe src="{{ class.form_url }}" allowfullscreen>Loading…</iframe>
            </details>
            {%- endif -%}
        </div>
    </dl>
    <div style="margin-top: auto; font-size: small; text-transform: uppercase; padding-top: var(--space-l)">
        <a href="{{class.square_item_url}}">See if there's space available</a>
    </div>
</article>

{% endmacro %}