<article id="class-poster">
    <div>
        <h2 class="font-bold">Good news! <span>We still have spots available in our Fall 2023 Classes!
                Click on the image below or
                <strong>
                    <a class="plausible-event-name=notice_link"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSclFVriggvYdFPbGgaSdJ5Zbhrjbx4jXAjyKoebXi2MCwDAXw/viewform?vc=0&c=0&w=1&flr=0">
                        this link to contact our class coordinator!
                    </a>
                </strong>
        </h2>
    </div>
    <style>.plausible-event-name\=notice_poster { margin: auto; }</style>
    <a class="plausible-event-name=notice_poster"
    aria-label="Google Forms -- register your interest in our pottery classes with the class coordinator"
        href="https://docs.google.com/forms/d/e/1FAIpQLSclFVriggvYdFPbGgaSdJ5Zbhrjbx4jXAjyKoebXi2MCwDAXw/viewform?vc=0&c=0&w=1&flr=0">
        <img
            style="--aspect: 768 / 1086" 
            src="/img/updated_fall_2023_class_flyer.webp"
            alt="10-week fall pottery classes on Monday afternoons, Wednesday evenings, and Thursday evenings still available for registration. Cost is $325, which includes 1 bag of clay." />
    </a>

</article>