<div class="hero">
    <img id="hero" class="dynamic-filter" src="/img/{{page.data.hero}}" alt="" style="--aspect: {{ page.data.aspectRatio }}">
    <div>
        <h1 style="font-size: var(--size-4); color: var(--accent)">{{ title }}</h1>
        <p>{{ subtitle }}</p>
    </div>
</div>