<style>
    .sticky-banner {
      top: 0;
      left: 0;
      right: 0;
      padding: 0.5em;
      z-index: 100;
    }
  
    .sticky-banner,
    .sticky-banner * {
      background-color: #58675a;
      color: #f0e7da;
    }
    .sticky-banner p {
      margin: auto;
      max-width: fit-content;
    }
  
    .sticky-banner a {
      font-weight: 700;
      text-decoration: underline 0.15em currentColor;
      text-underline-offset: 0.2ex;
      transition: text-underline-offset 300ms;
    }
    .sticky-banner a:hover {
    text-underline-offset: 0.8ex;
  }
  
    .to-shopify span:hover {
      background-color: #f0e7da;
      color: #58675a;
    }
    .to-shopify span {
      transition: all 300ms;
    }
  
  </style>
