<div class="sticky-banner">
  <p>We're in the middle of migrating our site. Our classes are currently listed at <a class="to-shopify"
    href="https://devonpottery.myshopify.com/pages/classes"><span>devonpottery.myshopify.com</span></a>.</p>
</div>