<header class="cluster" style="--justify: space-between; flex-wrap: nowrap">
  <div>
      <a href="{{ '/' | url }}" title="Devon Pottery Guild - Home"><img src='/statics/DPG Logo-02.svg' alt="Devon Pottery Guild"></a>
  </div>
  {% include "partials/nav.njk" %}
</header>


