<header class="cluster" style="--justify: space-between; flex-wrap: nowrap">
  <div>
      <a href="{{ '/' | url(true) }}" title="Devon Pottery Guild - Home">dpg</a>
  </div>
  {% include "partials/nav.njk" %}
</header>


