<h2>Social media</h2>

<p>
    The Devon Pottery Guild maintains a moderate media presence on Facebook and
    Instagram. Follow us on either platform (or both!) to be notified when we we
    announce classes, workshops, and events.
</p>
<p>
    Links to the Guild's pages on Facebook and Instagram are below. See you there!
</p>



<style>
    .social {
        padding-top: var(--space-l);
    }

    .social svg {
        width: 90%;
        height: 90%;
    }
</style>

<div class="social switcher" style="--gap: var(--space-s-m); --basis: 40ch;">
    {% for platform in social_media %}
    <div {% if platform.name=='instagram' -%}style="padding-top: 1em" {%- endif -%}>
        <a href="{{ platform.url }}" title="{{ platform.alt }}">
            <img src="/statics/{{ platform.wordmark }}" alt="{{ platform.alt }}" inline>
        </a>
    </div>
    {% endfor %}
</div>