.classes-lede {
    background: var(--spot-bg);
}

.classes-lede section {
    background-color: transparent;
    color: var(--spot-txt);
}

.curve {
    fill: var(--bg);
    background: var(--spot-bg);
}

.curve:nth-of-type(2) {
    /* --theta: 180deg; */
    transform: rotateX(180deg) rotateY(180deg) translateY(-2px);
}

#class-calendar {
    max-width: 96vw;
    display: grid;
    place-items: top center;
    grid-template-columns: repeat(auto-fit, minmax(clamp(300px, 40vw, 600px), 1fr));
    gap: var(--space-s-m);
}

.card {
    border: 2px solid var(--spot-bg);
    height: 100%;
    width: 100%;
    padding: var(--space-xs);
    display: flex;
    flex-direction: column;

    & details {
        font-size: var(--size-0);
        margin-block: var(--space-s);
        padding-inline: var(--space-xs);
    }

    & ::-webkit-details-marker,
    & ::marker {
        color: var(--spot-bg);
    }

    & .non-member {
        font-size: var(--size--1);
        padding-inline-start: 0.5ch;
    }

    & dl {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        gap: var(--space-s);
    }

    & dl>div {
        align-self: stretch;
    }

    & dt {
        text-transform: lowercase;
        font-variant: small-caps;
        font-size: var(--size-0);
    }
}

.row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-s);
}

.keep-together {
    display: inline-block;
}

img {
    aspect-ratio: var(--aspect);
}