.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(150px, 50%, 500px), 1fr));
    align-items: start;
    gap: var(--space-xs);

    & img {
        width: 100%;
        height: auto;
        max-height: 96vh;
        display: block;
        aspect-ratio: 1 /1;
        object-fit: cover;
        grid-row: auto / span 1;
    }
}

article:has(.gallery) p {
    margin-block-start: var(--space-3xs);
    margin-block-end: var(--space-l);
}