:root {
    --hero-ideal-height: 50vh;
    --hero-max-height: 500px;

    --size--2: clamp(0.64rem, calc(0.57rem + 0.36vw), 0.84rem);
    --size--1: clamp(0.80rem, calc(0.69rem + 0.57vw), 1.13rem);
    --size-0: clamp(1.00rem, calc(0.83rem + 0.87vw), 1.50rem);
    --size-1: clamp(1.25rem, calc(0.99rem + 1.30vw), 2.00rem);
    --size-2: clamp(1.56rem, calc(1.18rem + 1.92vw), 2.67rem);
    --size-3: clamp(1.95rem, calc(1.40rem + 2.78vw), 3.55rem);
    --size-4: clamp(2.44rem, calc(1.64rem + 3.99vw), 4.74rem);
    --size-5: clamp(3.05rem, calc(1.92rem + 5.67vw), 6.31rem);

    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

    /* Custom pairs */
    --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);
}