:root {
    --bg: #f0e7da;
    --text: #464c44;
    --accent: #536558;
    --contrastColor: #A75E3A;
    --spot-bg: #536558;
    --spot-txt: #f0e7da;
    --town-of: #005cb9;
    --devon-ab: #072241;
    --afa-logo: #000000;
    --afa-text: #000000;
    --insta: #262626;
}
